@import '../css/index.scss';

  #dog-card {
    height: max-content;
    padding: 30px;
    margin: 50px;
    background-color: $color-grey; 
    border-radius: 5px;
    display: flow-root;
  }

.app-header {
  height: 150px;
}

#root {
  text-align: center;
}